.news-item {
    background-color: #0365d630;
    margin: 10px; 
    padding: 10px; 
    border-radius: 15px
}

.user-short {
    display: flex;
    margin: 5%;
    cursor: pointer;
}

.user-short-img {
    width: 20%;
}

.user-short-data {
    display: flex;
    justify-content: center;
    margin-left: 5%;
}